%ul#posts
  - @posts.each do |post|
    %li
      .title 
        %a{ :href => post.id }= "&ldquo;#{post.title}&rdquo;"
      .meta= "&mdash; #{human_date post.published_on} / #{post.comments.size} comments"
      .perex= post.perex