!!!

%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", 'xml:lang' => "en" }
%head
  %meta{:http_equiv => 'Content-Type', :content => 'text/html; charset=utf-8'}
  %title= h(@page_title)
  %link{:rel => "stylesheet", :href => "/style.css", :type => "text/css", :media => "all"}

  %link{:href=>"http://#{hostname}/feed", :rel => 'alternative', :title => "Feed for #{h(CONFIG['blog']['title']) }", :type => 'application/atom+xml'}
  %link{:href=>"http://#{hostname}/feed/comments", :rel => 'alternative', :title => "Comments for #{ h(CONFIG['blog']['title']) }", :type => 'application/atom+xml'}

  - if @post
    %link{:href=>"http://#{hostname}/#{@post.id}/feed", :rel => 'alternative', :title => "Comments on &ldquo;#{ h(@post.title) }&rdquo; #{ h(CONFIG['blog']['name']) }", :type => 'application/atom+xml'}

%body
  %h1
    %span= CONFIG['blog']['title']

  .container= yield

  - if CONFIG['ga_code'] && Sinatra.env == :production
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      
      var pageTracker = _gat._getTracker("<%= CONFIG['ga_code'] %>");
      pageTracker._trackPageview();