!!!

%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", 'xml:lang' => "en" }
%head
  %meta{:http_equiv => 'Content-Type', :content => 'text/html; charset=utf-8'}
  %title= h(@page_title)
  %link{:rel => "stylesheet", :href => "/style.css", :type => "text/css", :media => "all"}
 
  %link{:rel => 'alternative', :title => "Articles", :type => 'application/atom+xml', :href=>"http://#{hostname}/feed"}
  %link{:rel => 'alternative', :title => "Comments", :type => 'application/atom+xml', :href=>"http://#{hostname}/feed/comments"}

  - if @post
    %link{:rel => 'alternative', :title => "Comments on &ldquo;#{ h(@post.title) }&rdquo; ", :type => 'application/atom+xml', :href=>"http://#{hostname}/#{@post.id}/feed"}

%body

  #container
  
    %a{ :href => "/" }
      %h1
        %span= CONFIG['blog']['name']
    .tagline witty subtitle under development
  
    #content= yield
    
    #footer= partial :footer

  - if CONFIG['ga_code'] && Sinatra.env == :production
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    
      var pageTracker = _gat._getTracker("<%= CONFIG['ga_code'] %>");
      pageTracker._trackPageview();