#post
  %h2.title
    %a{ :href => @post.id }
      =h @post.title
  %div.meta
    %span.date
      = human_date(@post.published_on)
    &mdash; 
    %span.comments 
      %a{ :href => "#comments" }= "#{@post.comments.size} comments"

  .intro= @post.intro
  
  .body= @post.body_html
  
  %h2.comments

  /.comments= disqus_comments
